<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DA_DBMS.Properties.Settings.DA_DBMSConnectionString"
            connectionString="Data Source=DESKTOP-9E4M4BN\QUANGNHAT;Initial Catalog=DA_DBMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>